# **Column Transformer**

Column Transformer is a library that allows you to transform and manipulate data in a columnar format. 

It is designed to work with large datasets and provides a flexible way to perform various operations on columns of data.

It is designed to work with large datasets and can be used for a variety of tasks such as data cleaning, feature engineering, and data transformation.

Column Transformer is particularly useful when working with datasets that have a large number of columns, as it allows you to perform operations on specific columns without having to load the entire dataset into memory.

In [1]:
import pandas as pd

In [3]:
d = {'sales': [100000,222000,1000000,522000,111111,222222,1111111,20000,75000,90000,1000000,10000], 'city': ['Tampa','Tampa','Orlando','Jacksonville','Miami','Jacksonville','Miami','Miami','Orlando','Orlando','Orlando','Orlando'], 'size': ['Small', 'Medium','Large','Large','Small','Medium','Large','Small','Medium','Medium','Medium','Small',]}

In [4]:
df = pd.DataFrame(data=d)

In [5]:
df

      sales          city    size
0    100000         Tampa   Small
1    222000         Tampa  Medium
2   1000000       Orlando   Large
3    522000  Jacksonville   Large
4    111111         Miami   Small
5    222222  Jacksonville  Medium
6   1111111         Miami   Large
7     20000         Miami   Small
8     75000       Orlando  Medium
9     90000       Orlando  Medium
10  1000000       Orlando  Medium
11    10000       Orlando   Small

In [6]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [7]:
ohe = OneHotEncoder(sparse_output=False)

In [8]:
ode = OrdinalEncoder()

In [9]:
from sklearn.compose import ColumnTransformer

In [ ]:
# Create a ColumnTransformer to apply different transformations to different columns
# The 'city' column will be one-hot encoded
# the 'size' column will be ordinal encoded
# the remainder='passthrough' means that all other columns will be left unchanged
column_transformer = ColumnTransformer(
    (ohe, ['city']),
    (ode, ['size']),
    remainder='passthrough'
)