# **Train-Test Split**

The train-test split is a common technique used to evaluate the performance of a machine learning model. 
It involves splitting the available data into two sets: a training set and a testing set.
The training set is used to train the model, and the testing set is used to evaluate its performance.

The train-test split is typically done in the following way:
1. Split the data into two sets: a training set and a testing set.
2. Use the training set to train the model.
3. Use the testing set to evaluate the performance of the model.

The train-test split is a crucial step in the machine learning process because it allows us to evaluate the performance of a model on unseen data.

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv("https://github.com/RyanNolanData/YouTubeData/blob/main/500hits.csv?raw=true", encoding="latin-1")
df.head()

,PLAYER,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA,HOF
0,Ty Cobb,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366,1
1,Stan Musial,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331,1
2,Tris Speaker,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345,1
3,Derek Jeter,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310,1
4,Honus Wagner,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329,1

In [9]:
X = df.drop(columns = ["PLAYER", "HOF"])
y = df["HOF"]

In [10]:
X.head()

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
0,24,3035,11434,2246,4189,724,295,117,726,1249,357,892,178,0.366
1,22,3026,10972,1949,3630,725,177,475,1951,1599,696,78,31,0.331
2,22,2789,10195,1882,3514,792,222,117,724,1381,220,432,129,0.345
3,20,2747,11195,1923,3465,544,66,260,1311,1082,1840,358,97,0.310
4,21,2792,10430,1736,3430,640,252,101,0,963,327,722,15,0.329

In [12]:
X.shape

(465, 14)

In [13]:
y.shape

(465,)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state= 45)

In [17]:
display(X_train.shape)
display(X_test.shape)

(372, 14)

(93, 14)

In [18]:
display(y_train.shape)
display(y_test.shape)

(372,)

(93,)

In [20]:
display(X_train.describe().round(2))
display(y_train.describe().round(3))

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,372.00,372.00,372.00,372.00,372.00,372.00,372.00,372.00,372.00,372.00,372.00,372.00,372.00,372.00
mean,17.10,2050.55,7508.85,1152.03,2171.93,382.65,77.45,206.37,920.20,790.01,867.63,193.59,60.11,0.29
std,2.77,355.82,1301.63,297.92,425.26,95.98,48.28,145.65,476.29,327.31,485.97,184.43,48.79,0.02
min,11.00,1331.00,4981.00,601.00,1660.00,177.00,3.00,9.00,0.00,239.00,0.00,7.00,0.00,0.25
25%,15.00,1801.75,6519.75,933.25,1837.00,312.00,39.00,83.00,686.00,548.00,465.00,62.75,26.75,0.27
50%,17.00,1992.00,7261.50,1108.50,2085.50,366.00,67.00,187.00,978.50,736.00,848.00,135.50,55.00,0.29
75%,19.00,2229.50,8144.00,1287.50,2375.00,440.00,105.50,299.25,1207.50,949.50,1237.25,275.00,86.25,0.30
max,26.00,3308.00,12364.00,2295.00,4189.00,792.00,295.00,755.00,2297.00,2190.00,2597.00,1406.00,335.00,0.37

count    372.000
mean       0.347
std        0.482
min        0.000
25%        0.000
50%        0.000
75%        1.000
max        2.000
Name: HOF, dtype: float64

In [21]:
display(X_test.describe().round(2))
display(y_test.describe().round(3))

,YRS,G,AB,R,H,2B,3B,HR,RBI,BB,SO,SB,CS,BA
count,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00,93.00
mean,16.84,2041.30,7521.86,1143.44,2163.52,374.15,82.98,179.75,790.48,757.78,766.83,205.17,49.98,0.29
std,2.76,350.44,1270.22,255.15,422.10,98.69,53.52,133.85,513.60,328.43,496.50,171.75,44.18,0.02
min,12.00,1437.00,5603.00,651.00,1661.00,182.00,11.00,16.00,0.00,276.00,14.00,14.00,0.00,0.25
25%,15.00,1802.00,6527.00,954.00,1839.00,311.00,47.00,67.00,527.00,510.00,327.00,67.00,15.00,0.27
50%,17.00,1993.00,7147.00,1083.00,2061.00,368.00,69.00,144.00,885.00,719.00,741.00,167.00,41.00,0.29
75%,19.00,2323.00,8498.00,1320.00,2383.00,425.00,109.00,264.00,1195.00,966.00,1125.00,302.00,79.00,0.30
max,25.00,2968.00,11008.00,1774.00,3430.00,657.00,309.00,548.00,1704.00,1865.00,2003.00,739.00,178.00,0.34

count    93.000
mean      0.258
std       0.440
min       0.000
25%       0.000
50%       0.000
75%       1.000
max       1.000
Name: HOF, dtype: float64